body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    background: dimgray;
    color: white;
    width: 100%;
    padding: 30px;
}

.ranch {
    width: 75%;
    margin: 0 auto;
    background: white;
    color: dimgray;
    padding: 20px;
    border-radius: 15px;
}